@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    background-color: black;
  }
}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#c5c5c5];
  }
  .tags {
    background-color: #ab94c2;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
  }
  .tags:last-child{
    margin-right: 0;
  }
  .tags:nth-child(2){
    background-color: #ab94c2;
  }
  .tags:nth-child(3){
    background-color: #ab94c2;
  }
  .tags:nth-child(4){
    background-color: #ab94c2;
  }
}
